.kiss-modal {
  display: none;
  position: absolute;
  width: 87.2%;
  height: 57.815%;
  background-color: #000;
  flex-flow: column nowrap;
  color: white;
  border-radius: 15px;
  margin-top: 5%;
  z-index: 9;
}
.kiss-modal.opened{
  display: flex;
}

.kiss-modal .info{
  height: 31.3%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.kiss-modal header{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 29%;
}

.kiss-modal .question{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
}

.kiss-modal .time {
  position: absolute;
  display: flex;
  width: 70%;
  height: 4px;
  align-self: center;
  background-color: #392446;
  bottom: 13%;
}

.kiss-modal .time:after{
  content: "";
  width: 0;
  height: 100%;
  background-color: #913BFF;
  transition: width linear 5s;
}

.kiss-modal .time.hide{
  display: none;
}

.kiss-modal .time.start:after{
  width: 100%;
  background-color: #913BFF;
  transition: width linear 5s;
}

.kiss-modal .kiss-result-counter{
  position: absolute;
  height: 19px;
  background: url(../../../../images/kissed.svg) no-repeat center left;
  background-size: contain;
  bottom: 5%;
  padding-left: 8%;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
}

.kiss-modal .player{
  margin: 0 9%;
  width: 19%;
  height: 100%;
  background-size: cover;
  border: none;
  cursor: auto;
}

.kiss-modal .player i{
  position: relative;
  width: 41.33%;
  height: 31%;
  border-radius: 100%;
  background-color: white;
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
}

.kiss-modal .player > span {
  position: absolute;
  bottom: -17%;
  font-weight: 500;
}

.kiss-modal i.accepted{
  background-image: url("../../../../images/checkmark.svg");
}
.kiss-modal i.declined{
  background-image: url("../../../../images/cross.svg");
}
.kiss-modal i.current{
  left: 65%;
}
.kiss-modal i.target{
  left: -65%;
}

.kiss-modal .true-kiss{
  position: absolute;
  width: 30%;
  height: 32%;
  background-image: url("../../../../images/true-kiss.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
}

.kiss-modal .true-kiss.animate{
  animation: my-true-kiss 800ms cubic-bezier(1,.23,1,1) 500ms normal forwards;
}

@keyframes my-true-kiss {
  0%{
    opacity: 0;
    transform: translateY(-10px) scale(2);
    filter: drop-shadow(1px 1px 10px rgb(0, 0, 0));
  }
  25%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  }
}

.kiss-modal .actions{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 39.7%;
}

.kiss-modal .actions div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
  height: 37%;
  width: 40%;
  border-radius: 7px;
  cursor: pointer;
}

.kiss-modal .decline{
  background-color: #2D1D36;
}

.kiss-modal .accept{
  background-color: #66CE15;
}