.game .inventory{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  background-color: #f7f6ff;
  height: 100%;
  transition: top ease-in-out 0.5s;
  top: 0;
}

.game .inventory.opened{
  top: -100%;
}

.inventory header{
  display: flex;
  width: 100%;
  height: 29%;
  max-height: 60px;
  flex-shrink: 0;
}

.inventory header div{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  font-weight: bold;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
  border-radius: 7px;
  color: white;
  text-align: center;
}

.inventory header div:first-child{
  background: linear-gradient(264.23deg, #EFCB84 19.1%, #DEA943 71.97%), #F9CE7B;
}

.inventory header div:last-child{
  background: #913BFF;
}