.roulette-table .cookie-selector {
  position: relative;
  width: 229%;
  height: 175.47%;
  flex-shrink: 0;
}

.roulette-table .cookie-selector.hide {
  display: none;
}

.roulette-table .cookie-selector > .image-selector-bottle {
  position: relative;
  width: 40%;
  height: 100%;
  background: url(../../../images/bottle.png) no-repeat center center;
  background-size: contain;
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
  cursor: help;
}