.table{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: calc(100vw * 1.1947);
  max-height: 72%;
  justify-content: space-around;
  align-content: space-around;
  background: radial-gradient(46.39% 46.39% at 50% 53.61%, #8543D9 49.15%, #7219A8 100%), #F7ECDA;
  color: white;
}

.utility-wrapper{
  position: relative;
  width: 100%;
  height: calc(100vh - (100vw * 1.1947));
  min-height: 28%;
  overflow: hidden;
}

.table .table-id {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.table .wrap-players {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 30%;
  justify-content: space-around;
  align-items: center;
}

.table .cookie-space {
  width: 16.5%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}