.table .wait-players{
  position: absolute;
  display: none;
  flex-flow: column nowrap;
  text-align: center;
}

.table .wait-players.show{
  display: flex;
}

.table .wait-players header{
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10%;
}

.table .wait-players span{
  font-size: 12px;
  font-weight: 400;
}