.header-menu{
  width: 100%;
  height: 10%;
  background-color: #8932da;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-menu .tooltip{
  position: absolute;
  padding: 7px 10px;
  background-color: white;
  color: #000000;
  white-space: nowrap;
  top: 145%;
  font-size: 120%;
  border-radius: 10px;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out 500ms;
}

.header-menu .tooltip.opened{
  visibility: visible;
  opacity: 1;
  transition: all ease-in-out 500ms;
}

.header-menu .tooltip > .arrow-up {
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  position: absolute;
  top: -15px;
  border-bottom: 15px solid rgb(255, 255, 255);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.header-menu input{
  cursor: pointer;
  border: none;
  background: none;
}

.header-menu > .profile-btn{
  width: 2em;
  height: 2em;
  margin-left: 2%;
  background: url("../../../../images/profile-icon.png") center no-repeat;
  cursor: pointer;
}

.header-menu > .counter-cookie-count{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: 82%;
  background: url("../../../../images/cookies-bg.svg") center no-repeat;
  background-size: 90%;
}

.counter-cookie-count > i{
  width: 31%;
  height: 80%;
  background: url("../../../../images/cookie-icon.png") center no-repeat;
  background-size: 90%;

  @media (max-width: 530px) {
    background-size: 130%;
  }

}

.counter-cookie-count-span {
  font-size: 0.9em;
}

.counter-cookie-count > span{
  position: absolute;
  font-weight: bold;
}

.counter-cookie-count > .shop-cookies{
  width: 35%;
  height: 83%;
  background: url("../../../../images/cookie-shop.svg") center no-repeat;
  background-size: contain;
  cursor: pointer;
}

.counter-cookie-count > .shop-cookies.hidden{
  visibility: hidden;
}

.header-menu > .kiss-count{
  position: relative;
  display: flex;
  width: 15%;
  height: 82%;
  align-items: center;
  cursor: pointer;
}

.header-menu > .kiss-count i{
  width: 48%;
  height: 74%;
  background: url("../../../../images/kissed.svg") center no-repeat;
  background-size: contain;
  flex-shrink: 0;
}

.header-menu > .kiss-count span{
  flex-grow: 1;
  margin: 0 5px;
  font-weight: bold;
  text-align: center;
}

.header-menu > .change-table,
.header-menu > .rating-button,
.header-menu > .settings{
  position: relative;
  width: 8.5%;
  height: 64%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../../images/empty-gold-button.svg");
  cursor: pointer;
}

.header-menu > .change-table.active i,
.header-menu > .rating-button i{
  position: absolute;
  display: block;
  width: 60%;
  height: 60%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header-menu > .rating-button i{
  width: 50%;
  height: 50%;
  background-image: url("../../../../images/rating-button.png");
}

.header-menu > .change-table.active i{
  background-image: url("../../../../images/change-table-icon.svg");
}

.header-menu > .change-table span{
  position: absolute;
  display: block;
  font-weight: 700;
  font-size: 160%;
}

.header-menu > .settings{
  visibility: hidden;
}

.header-menu > .vk-apps-overlay {
  display: flex;
  flex-flow: row nowrap;
  width: 23.5%;
  height: 72%;
  background-color: rgba(0, 0, 0, 0.18);
  border-radius: 9px;
  margin-right: 2%;
  align-items: center;
  visibility: hidden;
}

.vk-apps-overlay > .setup,
.vk-apps-overlay > .exit-app{
  width: 49%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.vk-apps-overlay .setup{
  background-image: url("../../../../images/setup-icon.png");
}

.vk-apps-overlay div{
  width: 2%;
  height: 75%;
  background-color: #864ac1;
}

.vk-apps-overlay .exit-app{
  background-image: url("../../../../images/close-icon.png");
}
