.header-menu{
  width: 100%;
  height: 10%;
  background-color: #8932da;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-menu input{
  cursor: pointer;
  border: none;
  background: none;
}

.header-menu > .exit-game{
  width: 3%;
  height: 45%;
  margin-left: 2%;
  background: url("../../../../images/back-icon.png") center no-repeat;
}

.header-menu > .counter-cookie-count{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: 82%;
  background: url("../../../../images/cookies-bg.svg") center no-repeat;
  background-size: 90%;
}

.counter-cookie-count > i{
  width: 31%;
  height: 80%;
  background: url("../../../../images/cookie-icon.png") center no-repeat;
  background-size: 130%;
}

.counter-cookie-count > span{
  position: absolute;
  font-weight: bold;
}

.counter-cookie-count > .shop-cookies{
  width: 35%;
  height: 83%;
  background: url("../../../../images/cookie-shop.svg") center no-repeat;
  background-size: contain;
  cursor: pointer;
}

.counter-cookie-count > .shop-cookies.hidden{
  visibility: hidden;
}

.header-menu > .kiss-count{
  display: flex;
  width: 15%;
  height: 82%;
  align-items: center;
}

.header-menu > .kiss-count i{
  width: 48%;
  height: 74%;
  background: url("../../../../images/kissed.svg") center no-repeat;
  background-size: contain;
  flex-shrink: 0;
}

.header-menu > .kiss-count span{
  flex-grow: 1;
  margin: 0 5px;
  font-weight: bold;
  text-align: center;
}


.header-menu > .change-table,
.header-menu > .settings{
  width: 8.5%;
  height: 64%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header-menu > .change-table{
  background-image: url("../../../../images/change-table-button.svg");
}

.header-menu > .settings{
  visibility: hidden;
  background-image: url("../../../../images/empty-gold-button.svg");
}

.header-menu > .vk-apps-overlay {
  display: flex;
  flex-flow: row nowrap;
  width: 23.5%;
  height: 72%;
  background-color: rgba(0, 0, 0, 0.18);
  border-radius: 9px;
  margin-right: 2%;
  align-items: center;
  visibility: hidden;
}

.vk-apps-overlay > .setup,
.vk-apps-overlay > .exit-app{
  width: 49%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.vk-apps-overlay .setup{
  background-image: url("../../../../images/setup-icon.png");
}

.vk-apps-overlay div{
  width: 2%;
  height: 75%;
  background-color: #864ac1;
}

.vk-apps-overlay .exit-app{
  background-image: url("../../../../images/close-icon.png");
}
