html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.root-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#root{
  position: relative;
  width: 100%;
  max-width: calc(100vh * 0.6016);
  height: 100%;
  /*background-color: #c0c0c0;*/
}

.cookie-roulette{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  background-color: #ebf6ff;

  font-family: Gotham Pro;
  font-weight: 500;
  font-size: 10px;
}

@media screen and (min-width: 320px) {
  .cookie-roulette {
    font-size: calc(12px + 2 * ((100vw - 320px) / 680));
  }
}

.please-wait{
  width: 100%;
  height: 100%;
  background-color: #fff89f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.please-wait:before{
  content: "+";
  display: flex;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100%;
  animation: loading linear 2s;
  animation-iteration-count: infinite;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

@keyframes loading{
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

.center-screen{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.game{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.smooth-appear{
  animation: my-smooth-appear 500ms linear normal forwards;
}

.smooth-disappear{
  animation: my-smooth-appear 500ms linear reverse forwards;
}

@keyframes my-smooth-appear {
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}

.custom-scroll{
  scrollbar-width: thin;
  scrollbar-color: #b8b8b8 #ececec;
  padding: 13px;
}
.custom-scroll::-webkit-scrollbar{
  width: 12px;
}
.custom-scroll::-webkit-scrollbar-track{
  background: #ececec;
}
.custom-scroll::-webkit-scrollbar-thumb{
  background-color: #B8B8B8;
  border-radius: 20px;
  border: 3px solid #ececec;
}