html, body{
  padding: 0;
  margin: 0;
}
.wrapper-container{
  font-size: 100vh;
  height: 1em;
}
.wrapped-content{
  position: relative;
  height: 100%;
  width: .56em;
}

#root{
  width: 100%;
  height: 100%;
}

.cookie-roulette{
  display: flex;
  flex-flow: column nowrap;
  /*width: 375px;*/
  /*height: 667px;*/
  width: 100%;
  height: 100%;
  background-color: #ebf6ff;

  font-family: Gotham Pro;
  font-size: 12px;
  font-weight: 500;
}

.please-wait{
  width: 100%;
  height: 100%;
  background-color: #fff89f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.please-wait:before{
  content: "+";
  display: flex;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100%;
  animation: loading linear 2s;
  animation-iteration-count: infinite;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

@keyframes loading{
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

.center-screen{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.game{
  position: relative;
  /*display: flex;*/
  /*flex-flow: column nowrap;*/
  width: 100%;
  height: 100%;
}