.table{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 67%;
  border: solid 1px black;
  justify-content: space-around;
  align-content: space-around;
  position: relative;
  background: radial-gradient(46.39% 46.39% at 50% 53.61%, #8543D9 49.15%, #7219A8 100%), #F7ECDA;
  /*background-image: url("../images/стол.png");*/
  color: white;
}

.table .table-id {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.table .wrap-players {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 30%;
  justify-content: space-around;
  align-items: center;
}

.table .cookie-space {
  width: 16.5%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.table .cookie-selector {
  position: relative;
  width: 229%;
  height: 175.47%;
  flex-shrink: 0;
  transition: all ease-in-out 0.5s;
}

.table .cookie-selector.rotate{
  animation: roulette linear 1s;
  animation-iteration-count: 3;
}

@keyframes roulette {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

.table .cookie-selector > div {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/lobbyCookie.svg) no-repeat;
  background-size: cover;
  left: 3%;
  top: -3%;
  transform: rotate(-6deg);
}

.table .cookie-selector:hover + .cookie-tooltip{
  visibility: visible;
  opacity: 1;
  transition: visibility ease-in-out 0.3s, opacity ease-in-out 0.7s;
  transition-delay: 1s;
}

.table .cookie-tooltip{
  position: absolute;
  padding: 8px 12px;
  transform: translate(-50%, -33%);
  left: 50%;
  top: 43%;
  background-color: rgba(255, 255, 255, 0.56);
  color: rgba(0, 0, 0, 0.45);
  border-radius: 7px;

  /*display: none;*/
  visibility: hidden;
  opacity: 0;
  transition: visibility ease-in-out 0.3s, opacity ease-in-out 0.7s;
}

.cookie-tooltip .arrow-down {
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  border-top: 20px solid rgba(255, 255, 255, 0.56);;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}