.kiss-modal {
  display: none;
  position: absolute;
  width: 85%;
  height: 41%;
  background-color: #000;
  flex-flow: column nowrap;
  color: white;
  border-radius: 15px;
  top: 35% !important;
  z-index: 10;
}
.kiss-modal.opened{
  display: flex;
}

.kiss-modal .info{
  height: 49%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.kiss-modal .player{
  margin: 0 9%;
  width: 19%;
  background-size: cover;
  border: none;
}

.kiss-modal .player i{
  position: relative;
  width: 41.33%;
  height: 31%;
  border-radius: 100%;
  background-color: white;
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
}

.kiss-modal i.accepted{
  background-image: url("../images/checkmark.svg");
}
.kiss-modal i.declined{
  background-image: url("../images/cross.svg");
}
.kiss-modal i.current{
  left: 65%;
}
.kiss-modal i.target{
  left: -65%;
}

.kiss-modal .time {
  display: flex;
  width: 70%;
  height: 4px;
  align-self: center;
  margin-top: 3%;
  background-color: #392446;
}

.kiss-modal .time:after{
  content: "";
  width: 0;
  height: 100%;
  background-color: #913BFF;
  transition: width linear 5s;
}

.kiss-modal .time.hide{
  display: none;
}

.kiss-modal .time.start:after{
  width: 100%;
  background-color: #913BFF;
  transition: width linear 5s;
}

.kiss-modal .question{
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bolder;
  margin-top: 10%;
  text-align: center;
}

.kiss-modal .actions{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.kiss-modal .actions div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
  height: 54%;
  width: 40%;
  border-radius: 7px;
  cursor: pointer;
}

.kiss-modal .decline{
  background-color: #2D1D36;
}

.kiss-modal .accept{
  background-color: #66CE15;
}