.cookie-roulette{
  display: flex;
  flex-flow: column nowrap;
  width: 375px;
  height: 667px;
  background-color: #ebf6ff;
}

.please-wait{
  width: 100%;
  height: 100%;
  background-color: #fff89f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lobby{
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(46.39% 46.39% at 50% 53.61%, #8543D9 49.15%, #7219A8 100%), #F7ECDA;
}

.lobby i{
  display: block;
}

.lobby .cookie{
  position: absolute;
  width: 334px;
  height: 387px;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.2));
  /*transform: rotate(105deg);*/
  background-image: url("./images/lobbyCookie.svg");
  background-position: center;
  z-index: 1;
}

.lobby .message{
  display: flex;
  flex-flow: column nowrap;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

.lobby header{
  font-size: 30px;
  padding: 10px;
}
.lobby span{
  font-size: 15px;
}

.lobby .kiss{
  position: absolute;
  background-image: url("./images/kiss.svg");
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.lobby .kiss.kiss-one{
  width: 43.65px;
  height: 43.65px;
  left: 223px;
  top: 232.06px;
  transform: rotate(-36.66deg);
}
.lobby .kiss.kiss-two{
  width: 66.96px;
  height: 66.96px;
  left: 311.63px;
  top: 230px;
  transform: rotate(53.22deg);
}
.lobby .kiss.kiss-three{
  position: absolute;
  left: 85.98%;
  right: 7.27%;
  top: 32.15%;
  bottom: 64.06%;
  transform: matrix(-0.99, -0.15, -0.15, 0.99, 0, 0);
}
.lobby .kiss.kiss-four{
  height: 40px;
  width: 40px;
  left: 102px;
  top: 360px;
  transform: rotate(14deg);
}

.please-wait:before{
  content: "+";
  display: flex;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100%;
  animation: loading linear 2s;
  animation-iteration-count: infinite;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

@keyframes loading{
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

.table{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 448px;
  border: solid 1px black;
  justify-content: space-around;
  align-content: space-around;
  position: relative;
}

.table .table-id {
  position: absolute;
  left: 0;
  top: 0;
}

.player{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: solid 1px #00780e;
  position: relative;
}

.table .player:nth-child(1){top: 10px; left: 10px}
.table .player:nth-child(3){top: 10px; left: -10px}
.table .player:nth-child(7){top: -10px; left: 10px}
.table .player:nth-child(9){top: -10px; left: -10px}

.player.turn{
  font-size: 20px;
  font-weight: bold;
  border: dotted 2px #ff0002;
}

.player .kissed{
  font-size: 14px;
  position: absolute;
  bottom: 0;
}

.center-screen{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*.kiss{*/
/*  display: none;*/
/*  position: absolute;*/
/*  width: 400px;*/
/*  height: 300px;*/
/*  background-color: #fff89f;*/
/*  border: solid 1px black;*/
/*  flex-flow: column nowrap;*/
/*}*/
/*.kiss.opened{*/
/*  display: flex;*/
/*}*/

/*.kiss .info{*/
/*  height: 200px;*/
/*  display: flex;*/
/*  flex-flow: row nowrap;*/
/*  justify-content: space-around;*/
/*  align-items: center;*/
/*}*/

/*.kiss .question{*/
/*  display: flex;*/
/*  height: 50px;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*.kiss .actions{*/
/*  display: flex;*/
/*  flex-flow: row nowrap;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  flex-grow: 1;*/
/*}*/

/*.kiss .actions input{*/
/*  margin: 0 25px;*/
/*}*/