.game .chat{
  display: flex;
  flex-flow: column nowrap;
  background-color: #f7f6ff;
  height: 32%;
}

.chat header{
  display: flex;
  width: 100%;
  height: 18%;
  flex-shrink: 0;
}

.chat header div{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  height: 100%;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.chat header div:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
}

.chat header div.selected:after{
  background-color: #eec44b;
}

.chat header em {
  position: relative;
  border-radius: 100%;
  font-weight: 700;
  font-size: 100%;
  background-color: #FF3E28;
  color: white;
  font-style: normal;
  padding: 5px;
}

.chat .messages,
.chat .personal-chats {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  overflow-y: scroll;
}

.chat .messages,
.chat .personal-chats{
  scrollbar-width: thin;
  scrollbar-color: #b8b8b8 #ececec;
  padding: 13px;
}
.chat .messages::-webkit-scrollbar,
.chat .personal-chats::-webkit-scrollbar{
  width: 12px;
}
.chat .messages::-webkit-scrollbar-track,
.chat .personal-chats::-webkit-scrollbar-track{
  background: #ececec;
}
.chat .messages::-webkit-scrollbar-thumb,
.chat .personal-chats::-webkit-scrollbar-thumb{
  background-color: #B8B8B8;
  border-radius: 20px;
  border: 3px solid #ececec;
}
.chat .message{
  position: relative;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: 400;
  background-color: #ffffff;
  margin: 5px 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.chat .message legend{
  display: inline-block;
  font-weight: 700;
  margin-right: 5px;
}

.chat .my-message{
  color: white;
  background-color: #913BFF;
}

.chat .message .colored-0{ color: #29d35a; }
.chat .message .colored-1{ color: #d37140; }
.chat .message .colored-2{ color: #1c1fd3; }
.chat .message .colored-3{ color: #d32000; }
.chat .message .colored-4{ color: #009123; }
.chat .message .colored-5{ color: #cc18d3; }
.chat .message .colored-6{ color: #ffdc00; }
.chat .message .colored-7{ color: #00d2d3; }


.chat footer{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  height: 45px;
  margin-top: 7px;
  background-color: #8932DA;
  align-self: flex-end;
  flex-shrink: 0;
}

.chat footer input[type="text"]{
  background-color: transparent;
  width: 85%;
  border: none;
  outline: none;
  color: white;
}

.chat footer input[type="button"]{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
}

.chat .common-chat{
  display: none;
  flex-flow: column nowrap;
  height: 82%;
}

.chat .personal-chat{
  display: none;
  position: relative;
  flex-flow: row nowrap;
  width: 100%;
  height: 87%;
  overflow: hidden;
}

.chat .common-chat.selected,
.chat .personal-chat.selected{
  display: flex;
}

.chat .personal-chats{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}

.chat .personal-content{
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  flex-shrink: 0;
  left: 0;
  background-color: #f7f6ff;
  transition: all ease-in-out 0.5s;
}

.chat .personal-content.opened{
  left: -100%;
  transition: all ease-in-out 0.5s;
}

.chat .pc-header{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 20%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.07);
}

.pc-header div{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 50%;
}

.pc-header i{
  width: 15px;
  margin-right: 5px;
  margin-left: -10%;
  background-image: url("./../../../images/back-icon-black.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.personal-chats article{
  display: flex;
  flex-flow: row nowrap;
  margin: 5px 0;
  border-radius: 6px;
  background-color: white;
  padding: 8px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.personal-chats i{
  width: 40px;
  height: 100%;
  border-radius: 4px;
  background-color: #C4C4C4;
  flex-shrink: 0;
}
.personal-chats .content{
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  overflow-x: hidden;
}

.personal-chats span{
  font-size: 11px;
  padding: 4px 8px;
}

.personal-chats span:first-child{
  color: #216AF7;
  font-weight: 700;
}
.personal-chats span:last-child{
  white-space: nowrap;
}
.personal-chats .counter{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  flex-shrink: 0;
}

.personal-chats em{
  position: relative;
  border-radius: 100%;
  font-weight: 700;
  font-size: 100%;
  background-color: #FF3E28;
  color: white;
  font-style: normal;
  padding: 5px;
}