.game .chat{
  display: flex;
  flex-flow: column nowrap;
  background-color: #f7f6ff;
  height: 32%;
}

.chat header{
  display: flex;
  width: 100%;
  height: 18%;
  flex-shrink: 0;
}

.chat header div{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  height: 100%;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.chat header div:hover{
  /*background-color: #f0eff3;*/
}

.chat header div:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
}

.chat header div.selected:after{
  background-color: #eec44b;
}

.chat .messages{
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  overflow-y: scroll;
}

.chat .messages,
.chat .personal-chats{
  scrollbar-width: thin;
  scrollbar-color: #b8b8b8 #ececec;
  padding: 13px;
}
.chat .messages::-webkit-scrollbar,
.chat .personal-chats::-webkit-scrollbar{
  width: 12px;
}
.chat .messages::-webkit-scrollbar-track,
.chat .personal-chats::-webkit-scrollbar-track{
  background: #ececec;
}
.chat .messages::-webkit-scrollbar-thumb,
.chat .personal-chats::-webkit-scrollbar-thumb{
  background-color: #B8B8B8;
  border-radius: 20px;
  border: 3px solid #ececec;
}

.chat footer{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  height: 45px;
  margin-top: 7px;
  background-color: #8932DA;
  align-self: flex-end;
  flex-shrink: 0;
}

.chat footer input[type="text"]{
  background-color: transparent;
  width: 85%;
  border: none;
  outline: none;
  color: white;
}

.chat footer input[type="button"]{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
}

.chat .common-chat{
  display: none;
  flex-flow: column nowrap;
  height: 82%;
}

.chat .common-chat.selected{
  display: flex;
}